.ukhsa-sidebar {
  max-width: 220px;
}

.ukhsa-sidenav-container {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-top: 40px;
}

.height-34 {
  height: 34px;
}

.ukhsa-sidenav-link {
  display: flex;
  padding: 12px;
  width: 150px;
  border-left: 3px solid transparent;
  color: #1d70b8;
}

.ukhsa-sidenav-link:hover {
  background: #f3f2f1;
  border-color: #1d70b8;
  font-weight: bold;
  text-decoration: none;
}

.ukhsa-sidenav-child {
  color: #1d70b8;
  padding: 12px;
  margin-left: 20px;
}

.ukhsa-sidenav-child:before {
  content: '— ';
  position: absolute;
  margin-left: -20px;
}
