@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-primary), arial, sans-serif;
    color: var(--text-grey);
  }
}

$govuk-global-styles: true;
$govuk-font-family: var(--font-primary), arial, sans-serif;
$govuk-new-link-styles: true;
$govuk-page-width: 1400px;

@import '~node_modules/govuk-frontend/govuk/all.scss';

a:focus,
summary:focus {
  outline: 3px solid transparent !important;
  color: #0b0c0c !important;
  background-color: #ffdd00 !important;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c !important;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
