@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-primary), arial, sans-serif;
    color: var(--text-grey);
  }

  body {
    min-width: var(--ukhsa-page-min-width);
    margin: 0;
  }
}

// GDS Front-end Overrides
$govuk-global-styles: true;
$govuk-new-typography-scale: true;
$govuk-font-family: var(--font-primary), arial, sans-serif;
$govuk-page-width: 1400px;

@import '~node_modules/govuk-frontend/dist/govuk/all';

@layer utilities {
  // Applies the govuk focus ring to an element
  .govuk-focus {
    @include govuk-focused-text;
  }

  // Applies a dash to the left of an element
  .govuk-dash {
    @apply pl-5;

    &:before {
      content: '—';
      @apply absolute left-0 top-1/2 -translate-y-1/2 pr-1 text-black;
    }
  }
}

:root {
  --ukhsa-font-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  --ukhsa-chart-height: 260px;

  // Container width
  --ukhsa-page-min-width: 320px;
  --ukhsa-page-width: 1400px;

  // Side Nav
  --ukhsa-nav-width: 220px;

  // Cards
  --ukhsa-chart-card-table-scroll-height: 375px;
  --ukhsa-chart-card-tab-min-height: 110px;

  // Govuk brand colours
  --colour-red: #{govuk-colour('red')};
  --colour-yellow: #{govuk-colour('yellow')};
  --colour-green: #{govuk-colour('green')};
  --colour-blue: #{govuk-colour('blue')};
  --colour-dark-blue: #{govuk-colour('dark-blue')};
  --colour-light-blue: #{govuk-colour('light-blue')};
  --colour-purple: #{govuk-colour('purple')};

  --colour-black: #{govuk-colour('black')};
  --colour-dark-grey: #{govuk-colour('dark-grey')};
  --colour-mid-grey: #{govuk-colour('mid-grey')};
  --colour-light-grey: #{govuk-colour('light-grey')};
  --colour-white: #{govuk-colour('white')};

  --colour-light-purple: #{govuk-colour('light-purple')};
  --colour-bright-purple: #{govuk-colour('bright-purple')};
  --colour-pink: #{govuk-colour('pink')};
  --colour-light-pink: #{govuk-colour('light-pink')};
  --colour-orange: #{govuk-colour('orange')};
  --colour-brown: #{govuk-colour('brown')};
  --colour-light-green: #{govuk-colour('light-green')};
  --colour-turquoise: #{govuk-colour('turquoise')};

  // Govuk greys
  --colour-grey-1: #6b7376;
  --colour-grey-2: #bfc1c3;
  --colour-grey-3: #f3f2f1;
  --colour-grey-4: #f8f8f8;

  // Govuk code colours
  // Based on https://github.com/alphagov/govuk_elements/blob/master/assets/sass/vendor/prism.scss
  --colour-code-background: var(--colour-light-grey);
  --colour-code-text: var(--colour-black);
  --colour-code-dark-red: #{govuk-shade(govuk-colour('red'), 7%)};
  --colour-code-grey: var(--colour-dark-grey);
  --colour-code-light-red: #{govuk-tint(govuk-colour('red'), 2%)};
  --colour-code-blue: var(--colour-blue);
  --colour-code-green: var(--colour-green);

  // UKHSA Map colours
  --colour-orange-dark: #{govuk-shade(govuk-colour('orange'), 15%)};
  --colour-amber-dark: #{govuk-shade(govuk-colour('orange'), 15%)};
  --colour-red-dark: #{govuk-shade(govuk-colour('red'), 15%)};
  --colour-yellow-dark: #{govuk-shade(govuk-colour('yellow'), 15%)};
  --colour-green-dark: #{govuk-shade(govuk-colour('green'), 15%)};

  --colour-orange-darkest: #{govuk-shade(govuk-colour('orange'), 45%)};
  --colour-amber-darkest: #{govuk-shade(govuk-colour('orange'), 45%)};
  --colour-red-darkest: #{govuk-shade(govuk-colour('red'), 45%)};
  --colour-yellow-darkest: #{govuk-shade(govuk-colour('yellow'), 45%)};
  --colour-green-darkest: #{govuk-shade(govuk-colour('green'), 45%)};

  // UKHSA New yellow for maps
  --colour-custard: #f1bf0d;
  --colour-custard-dark: #{govuk-shade(#f1bf0d, 15%)};
  --colour-custard-darkest: #{govuk-shade(#f1bf0d, 45%)};

  // UKHSA Alert banner colours
  --colour-green-opaque: #c2ddd0;
  --colour-yellow-opaque: #fbefc2;
  --colour-orange-opaque: #fcdecf;
  --colour-red-opaque: #f5cfc9;

  --colour-offwhite: #c1d7eb;

  // UKHSA delay period colours
  --colour-delay-blue: #0090c6;
  --colour-delay-blue-opaque: #d2e9f1;

  // UKHSA New Landing Page
  --colour-chart-background: #f7f7f7;
  --colour-chart-background-hover: #edf5ff;
  --colour-red-dark: #ab2b17;
}

.ukhsa-chevron {
  &:before {
    content: '';
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    display: inline-block;
    transition: transform 0.2s ease;
    margin: 0 12px 7px 2px;
  }

  @media (max-width: 400px) {
    &:before {
      display: none;
    }
  }

  &:after {
    content: '';
    height: 3px;
    left: 20px;
    position: absolute;
    right: 20px;
    bottom: 0;
    top: auto;
  }

  &.open {
    &:before {
      transform: rotate(225deg) translate(-1px, -3px);
      margin-bottom: 0;
      border-color: var(--colour-blue);
    }

    &:after {
      background: var(--colour-blue);
    }
  }

  &:focus {
    background: var(--colour-yellow) !important;
    color: var(--colour-black) !important;

    &:before {
      border-color: var(--colour-black) !important;
    }
    &:after {
      background: var(--colour-black) !important;
    }
  }

  &:hover:not(:focus):not(.open) {
    &:after {
      background-color: var(--colour-white) !important;
    }
  }
}

.leaflet-container {
  /* 
    Force hide the default Leaflet attribution element to prevent it from being displayed.
    The <MapAttributionDialog /> component listens for mutations to this element,
    dynamically updating the content of our custom copyright dialog based on changes
    to the tile layer attributions.
  */

  .leaflet-control-attribution {
    display: none !important;
  }
}
