.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    min-height: 50vh;
    /* background-color: red; */
}

.main-inner {
    padding-left: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: unset;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-direction: row;
}

.vaccinations {
    display: grid;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px #f3f2f1 solid;
    flex: 1 1 100%;
    margin-bottom: 0 !important;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, auto);
    grid-auto-flow: row;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}