.mini-card,
.card-container>*:not(.postcode-lead, .more-details, .stand-alone-metric, .simple-summary):not(.vaccinations) {
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px #f3f2f1 solid;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto auto minmax(10px, auto) 1fr;
    grid-row-gap: .5rem
}

.mini-card,
.card-container>*:not(.postcode-lead, .more-details, .stand-alone-metric, .simple-summary):not(.vaccinations),
.vaccinations,
.card-width {
    padding: 20px
}

.areatype-tag {
    background: #ebe9e7;
    color: #383f43;
    padding: .2rem .4rem;
    text-transform: uppercase;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.25;
    font-weight: bold
}

.card-timestamp {
    display: block
}

.data-metric2 {
    width: 100%;
    display: block;
    clear: both
}

.number-group {
    position: relative;
    display: block;
    clear: both
}

.tooltip {
    padding: 0 !important;
    width: max-content !important;
    z-index: unset !important
}

.float {
    display: inline-block;
    float: left
}

.total-figure2 {
    font-weight: normal
}

.number-link {
    text-decoration: none;
    border-bottom: 1px dashed #000;
    color: #000 !important;
    cursor: help
}

.tooltiptext {
    z-index: 999999999 !important;
    background: rgba(0, 0, 0, 0.9)
}

.total-figure2 {
    font-weight: normal
}

.number-link-red {
    text-decoration: none;
    border-bottom: 1px dashed #d4351c;
    color: #d4351c !important
}

.change-box.bad {
    background: #f6d7d2;
    color: #942514
}

.change-box.good {
    background: #cce2d8;
    color: #005a30
}

.change-box.neutral {
    background: #ebe9e7;
    color: #383f43
}


.graph {
    display: block;
    margin: 0;
    max-height: 400px
}

.graph>img {
    width: inherit;
    max-height: 400px
}

.bottom-aligned {
    align-self: flex-end
}